<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.usb.host" />

    <application>

        <receiver android:name=".receiver.UsbReceiver" android:exported="true">
            <intent-filter>
<!--                <action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="com.gm.cn.synclogplugin.action_usb_permission" />
            </intent-filter>
        </receiver>
        <service android:name=".service.CopyLogService" android:exported="false">

        </service>
    </application>
</manifest>